# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (Mono auto generated)
mono_crash.*

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Roslyn
*.ide/

# NuGet
*.nupkg
# NuGet packages
packages/
# The repositories.config file is also ignored by default.
.nuget/
# Uncomment if necessary however generally it will be regenerated when needed
# packages/repositories.config

# Microsoft Azure Build Output
csx/
*.build.csdef

# Microsoft Azure Emulator
ecf/
rcf/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# VS Code directories
.vscode/
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/settings.json

# Exclude all local history of files
.history/

# Windows specific files
[Dd]esktop.ini
[Dd]esktop.ini
[Dd]esktop.ini

# MacOS specific files
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes


