*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

.vs/
mono_crash.*

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

*.ide/

*.nupkg
packages/
.nuget/
csx/
*.build.csdef

ecf/
rcf/

Thumbs.db
ehthumbs.db

Desktop.ini

$RECYCLE.BIN/

.vscode/
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/settings.json

.history/

[Dd]esktop.ini
[Dd]esktop.ini
[Dd]esktop.ini

.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes


